In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("covid_mentions_polvpol_polpartylabelled.csv",encoding = "ISO-8859-1")

In [6]:
df

              Source Source_Party  ...      party Unnamed: 6
0     sarojpandeybjp    bjp4india  ...  bjp4india  bjp4india
1        piyushgoyal    bjp4india  ...  bjp4india        NaN
2          nanglucky    bjp4india  ...  bjp4india        NaN
3          nanglucky    bjp4india  ...  bjp4india        NaN
4        dpradhanbjp    bjp4india  ...  bjp4india        NaN
...              ...          ...  ...        ...        ...
3927      rksinhabjp    bjp4india  ...        NaN        NaN
3928    seethakkamla     incindia  ...        NaN        NaN
3929    dev_fadnavis    bjp4india  ...        NaN        NaN
3930    dev_fadnavis    bjp4india  ...        NaN        NaN
3931      rksinhabjp    bjp4india  ...        NaN        NaN

[3932 rows x 7 columns]

In [9]:
df['Source_Party']

0       bjp4india
1       bjp4india
2       bjp4india
3       bjp4india
4       bjp4india
          ...
3927    bjp4india
3928     incindia
3929    bjp4india
3930    bjp4india
3931    bjp4india
Name: Source_Party, Length: 3932, dtype: object

In [4]:
df['c'] = (df['Source_Party'] == df['Target_Party']).cumsum()

In [5]:
df

              Source Source_Party           Target  ...      party Unnamed: 6     c
0     sarojpandeybjp    bjp4india     narendramodi  ...  bjp4india  bjp4india     1
1        piyushgoyal    bjp4india         rsprasad  ...  bjp4india        NaN     2
2          nanglucky    bjp4india     himantabiswa  ...  bjp4india        NaN     3
3          nanglucky    bjp4india  pijush_hazarika  ...  bjp4india        NaN     4
4        dpradhanbjp    bjp4india     narendramodi  ...  bjp4india        NaN     5
...              ...          ...              ...  ...        ...        ...   ...
3927      rksinhabjp    bjp4india          jpnadda  ...        NaN        NaN  3150
3928    seethakkamla     incindia      rahulgandhi  ...        NaN        NaN  3151
3929    dev_fadnavis    bjp4india     narendramodi  ...        NaN        NaN  3152
3930    dev_fadnavis    bjp4india   drharshvardhan  ...        NaN        NaN  3153
3931      rksinhabjp    bjp4india     narendramodi  ...        NaN        NaN  3154

[3932 rows x 8 columns]

In [6]:
internal = df['c'].iloc[-1]
internal

3154

In [7]:
external=(len(df))-internal
external

778

In [8]:
ei=(external-internal)/len(df)
ei

-0.6042726347914548

In [9]:
data = [df["Source_Party"], df["Target_Party"]]
headers = ["Source_Party", "Target_Party"]
df1 = pd.concat(data, axis=1, keys=headers)

In [10]:
df1

     Source_Party Target_Party
0       bjp4india    bjp4india
1       bjp4india    bjp4india
2       bjp4india    bjp4india
3       bjp4india    bjp4india
4       bjp4india    bjp4india
...           ...          ...
3927    bjp4india    bjp4india
3928     incindia     incindia
3929    bjp4india    bjp4india
3930    bjp4india    bjp4india
3931    bjp4india    bjp4india

[3932 rows x 2 columns]

In [19]:
n_by_party = df1.groupby("Source_Party")

In [23]:
df8=n_by_party.get_group("bjp4india")
df8.to_csv('bjptobjp.csv')

In [16]:
n_by_state_gender = df.groupby(["Source_Party"]=="bjp4india").count()

KeyError: ignored